[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
wikipedia = "*"
requests = "*"
googletrans = "*"
googletrans2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
